.wrapper {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  margin-bottom: 10px;
}
.input {
  padding: 4px 6px;
  border: 2px solid #595959;
  border-radius: 5px;
  caret-color: orange;
  &:focus {
    border-color: orange;
  }
  &.error {
    border-color: orangered;
  }
}

.error_message {
  position: absolute;
  left: 100px;
  top: calc(100% + 2px);
  font-size: 12px;
  font-weight: 600;
  color: orangered;
  white-space: nowrap;
  text-align: right;
}
